
.nav-wrapper {
    background-color: #f9d62e !important;
    color: #eee;
    text-decoration: none;
    font-size: 25px;
    font-family: "Rochester";
    padding-right: 100px !important;
    padding-left: 100px !important;
}
  
.right a:hover {
    background-color: #eee;
    color: #f9d62e;
}
  
.brand-logo {
    font-family: "Rochester";
    font-size: 44px !important;
}

  
.iris {
    background: linear-gradient( rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.5) ), url('../images/Pikachu.jpg');
    background-repeat: no-repeat;
    height: 50vh;
    background-size: cover;
}
.transparent{
    top: 50%;
    text-align: center;
    font-weight: 900;
    font-size: 2em;
    color: white;
    padding: 20px 0px 20px 0px;
}
.box{
    padding: 3em;
}
.row{
    background-color: white;
    padding: 20px;
}

.rate {
    float: left;
    height: 46px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.rating{
    margin-top: 4em;
}
.userImg{
    width: 150px;
    height: 150px;
    border-radius: 5%;
    box-shadow: 6px 7px 3px rgba(0,0,0,0.14),0 7px 13px 6px rgba(0,0,0,0.12),0 19px 31px -7px rgba(0,0,0,0.2)
}
.Name{
    /* font-weight: 900; */
    font-size: 2em;
    margin-top: 100px;
}
.bar{
    background-color: #f9a12e;
    width: 40%;
    height: 10px;
    align-items: center;
    margin-left: 29%;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 30px;
}
.mar{
    margin-top: 50px;
}

.footer-copyright {
    background-color: #f9d62e;
    color: #eee;
    text-align: center;
    letter-spacing: 3px;
    bottom: 0px;
    margin-bottom: 0px;
    font-family: "Rochester";
}
  
h1 {
    font-family: "Rochester";
    font-size: 33px;
    font-weight: bold;
    margin: 0;
}
  
p {
    font-family: "Rochester";
    font-size: 18px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}
  
button {
    border-radius: 20px;
    border: 1px solid black !important;
    background-color: #f9a12e !important;
    color: white;
    font-size: 14px;
    font-family: "Rochester";
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}
  
button:active {
    transform: scale(0.95);
}
  
button:focus {
    outline: none;
}
  
button.ghost {
    background-color: white;
    border-color: #f9d62e;
    color: white;
}

.card-image{height: 250px !important}
.card-content{height: 150px !important}


.txtBox{
    /* width: 400px; */
    border: 2px solid #f9d72e91;
    border-radius: 3px;
    display: inline-block;
    box-shadow: 2px 2px 8px #e2f4c7;
}


.checked {
    color: orange;
}
.margin{
    font-weight: 900;
}

.box{
    margin-top: 3em;
}
.header{
    padding: 20px;
}
.list_grid{
    padding: 20px;
    float: right;
}
.list_grid i{
    padding: 20px;
    color: #272207;
}
.collection-item:hover{
    background-color: #f9d62e;
    transition: 0.3s;
}
.collection-item{
    transition: 0.3s;
}

.container {
    background-color: #eee;
    position: relative;
    overflow: hidden;
    width: 1550px;
    max-width: 100%;
    min-height: 635px;
}
  
.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

a {
    color: black;
}

.margin {
    color: coral;
}
.container{
    background-color: white!important;
    min-height: calc(100vh - 9.8842293906810037vh);
}
.cMid{
    display: block;
    width: 100%;
    margin-top: 7em;
}
